:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-colof: #ffffff;
  --primary-backgroud-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --accent-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;

  background-color: var(--primary-backgroud-color);
  color: var(--primary-title-color);
}

.primary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
}

/* -----HEADER------ */

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-second {
  color: #000000;
}
.logo-second:hover,
.logo-second:focus {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-title-color);
}

.header-list .current {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* ----Hero-----*/

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  background-color: gray;
  color: var(--secondary-text-colof);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--secondary-text-colof);
  background-color: var(--accent-color);
}

/* -------Benefits---------- */

.benefits-title {
  font-weight: 700;
  font-size: 1.14;
  text-transform: uppercase;
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

/* -----Work------- */

/* ------Team------- */

.team-bgc {
  background-color: var(--secondary-background-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  color: var(--primary-title-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  color: var(--primary-text-color);
}

/* ------Footer------- */

.footer {
  background-color: var(--third-background-color);
}

.footer-logo {
  color: var(--secondary-text-colof);
}
.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
}

.address {
  font-style: normal;
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-text-colof);
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
}

.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

/* --------Portfolio-------- */

.menu-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--primary-title-color);
  background-color: var(--secondary-background-color);
}

.menu-btn:hover,
.menu-btn:focus {
  color: var(--secondary-text-colof);
  background-color: var(--accent-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
